.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
**/.gitignore
**/.gitkeep
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# keep these
!assets/tree-sitter-silverscript.wasm
!queries/**
!webviews/**
!node_modules/web-tree-sitter/package.json
!node_modules/web-tree-sitter/LICENSE
!node_modules/web-tree-sitter/web-tree-sitter.cjs
!node_modules/web-tree-sitter/web-tree-sitter.wasm
